.collapsible-container {
  transform-origin: 0% 0%;

  opacity: 0;
  overflow: clip;

  &.vertical {
    transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out, max-height 0.2s ease-in-out;
    will-change: opacity, height, max-height;

    &.collapsed {
      height: 0;
      max-height: 0;
      opacity: 0;
    }
    &.expanded {
      height: var(--prop-value);
      max-height: var(--prop-value);
      opacity: 1;
    }
  }

  &.horizontal {
    transition: opacity 0.2s ease-in-out, width 0.2s ease-in-out, max-width 0.2s ease-in-out;
    will-change: opacity, width, max-width;

    &.collapsed {
      width: 0;
      max-width: 0;
      opacity: 0;
    }
    &.expanded {
      width: var(--prop-value);
      max-width: var(--prop-value);
      opacity: 1;
    }
  }

}
