.flexible-box {
  display: flex;
  position: relative;
  flex-direction: row;
  flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  flex-wrap: nowrap;
  gap: 0;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: auto;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
  min-width: 0;
  min-height: 0;
  border-radius: initial;
}
