{
  "presets": [
    ["@babel/preset-env",
      {
        "corejs": 3,
        "useBuiltIns": "usage",
        "targets": "> 0.25%, not dead"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],

  "env": {
    "production": {
      "plugins": [
        "transform-remove-console",
        "babel-plugin-styled-components",
        ["@babel/plugin-proposal-decorators", { "legacy": true }]
      ]
    },
    "test": {
      "plugins": [
        // "transform-remove-console",
        "babel-plugin-styled-components",
        ["@babel/plugin-proposal-decorators", { "legacy": true }]
      ]
    },
  }
}
