{
  "presets": [
    ["@babel/preset-env",
      {
        "corejs": 3,
        "useBuiltIns": "usage",
        "targets": "> 0.25%, not dead"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "react-html-attrs",
    "transform-remove-console",
    "babel-plugin-transform-typescript-metadata",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-transform-class-properties", { "loose": true }],
    ["@babel/plugin-proposal-private-methods", { "loose": true }],
    ["@babel/plugin-proposal-private-property-in-object", { "loose": true }],
    ["babel-plugin-styled-components", { "displayName": true, "pure": true }]

  ],
  "env": {
    "production": {
      "plugins": [
        "react-html-attrs",
        "transform-remove-console",
        "babel-plugin-transform-typescript-metadata",
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-transform-class-properties", { "loose": true }],
        ["@babel/plugin-proposal-private-methods", { "loose": true }],
        ["@babel/plugin-proposal-private-property-in-object", { "loose": true }],
        ["babel-plugin-styled-components", { "displayName": true, "pure": true }]
      ]
    },
    "test": {
      "plugins": [
        "react-html-attrs",
        // "transform-remove-console",
        "babel-plugin-transform-typescript-metadata",
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-transform-class-properties", { "loose": true }],
        ["@babel/plugin-proposal-private-methods", { "loose": true }],
        ["@babel/plugin-proposal-private-property-in-object", { "loose": true }],
        ["babel-plugin-styled-components", { "displayName": true, "pure": true }]
      ]
    },
  }
}
