.icon-base-parent {
  line-height: 1px !important;
}
.icon-base {
  min-width: var(--min-width);
  min-height: var(--min-height);
  width: var(--width) !important;
  height: var(--height) !important;
  line-height: 1px !important;
  background-color: var(--icon-color);
  color: var(--icon-content-color);


  background-repeat: no-repeat;

  mask-image: var(--icon-url);
  -webkit-mask-image: var(--icon-url);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;

  display: inline-block;
  will-change: transform;
  transform: translate3d(0, 0, 0);

  svg {
    fill: var(--icon-content-color);
    width: var(--height);
    height: var(--width);
  }
}
